@model IEnumerable<STEMify.Models.Course>

@{
    ViewData["Title"] = "Courses";
}



<h2>Courses</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>CourseCode</th>
            <th>Category</th>
            <th>Difficulty</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var course in Model)
        {
            <tr>
                <td>@course.CourseName</td>
                <td>@course.Description</td>
                <td>@course.CourseCode</td>
                <td>@course.CourseID</td>
                <td>@course.DifficultyLevelID</td>
                <td>@course.CreatedAt.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-primary">Add New Course</a>
<a href="@Url.Action("DifficultyLevels")" class="btn btn-success">View DifficultyLevels</a>
